<div class="container">
  {{#about-content}}
  {{/about-content}}
    <h1>Welcome to Super Rentals</h1>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    <div class="row">
        <div class="col-xs-12 col-md-8">
          {{#each model as |rentalUnit|}}
            {{rental-listing rental=rentalUnit}}
          {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          {{#link-to "about"}}About{{/link-to}}
          {{#link-to "contact"}}Click here to contact us.{{/link-to}}
        </div>
    </div>
</div>
